EMBEDDING_API_KEY=
EMBEDDING_API_URL=
EMBEDDING_MODEL=text-embedding-004
OLLAMA_URL=http://ollama:11434
LOCAL_MONGODB_URI=mongodb://root:password@localhost:27017/rag-project?authSource=admin
MY_JWT_SECRET=mysecret
REDIS_URL=redis://localhost:6379
QDRANT_VECTORDB_URL=http://localhost:6333
UPLOADTHING_TOKEN=''
MONGO_URI=mongodb://root:password@localhost:27017