#NEW

EMBEDDING_API_KEY=
EMBEDDING_API_URL=
EMBEDDING_MODEL=text-embedding-004

#free gemini llm model
GOOGLE_GEMINI_LLM_API_KEY=
GOOGLE_GEMINI_LLM_MODEL=gemini-2.5-flash

OLLAMA_URL=http://ollama:11434

LOCAL_MONGODB_URI=mongodb://root:password@localhost:27017/rag-project?authSource=admin

MY_JWT_SECRET=

#upstash cloud resis:
REDIS_URL=

#QDRANT CLOUD
# QDRANT_VECTORDB_URL=http://localhost:6333
QDRANT_VECTORDB_URL=
QDRANT_API_KEY=

UPLOADTHING_TOKEN=''
# MONGO_URI=mongodb://root:password@localhost:27017




#----------------------------------------------------------------------------------------------------------------------------------------------------------------
#OLD
EMBEDDING_API_KEY=API_KEY/ GEMINI API KEY
EMBEDDING_API_URL=https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent
EMBEDDING_MODEL=text-embedding-004
OLLAMA_URL=http://ollama:11434
LOCAL_MONGODB_URI=mongodb://root:password@mongodb:27017/rag-project?authSource=admin
MY_JWT_SECRET=
REDIS_URL=redis://redis:6379
QDRANT_VECTORDB_URL=http://qdrant:6333
UPLOADTHING_TOKEN=