services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    develop:
      watch:
        - path: .
          action: sync
          target: /src 
        - action: rebuild
          path: package*.json
        - action: sync+restart
          path: index.ts
          target: /src
    depends_on:
      - qdrant
      - ollama
      - mongodb

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  mongodb:
    image: mongo:latest
    container_name: rag-app-mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/config
  mongodb_express:
    image: mongo-express:latest
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongodb
    depends_on:
      - mongodb

  ollama:
      image: ollama/ollama:latest
      ports:
        - "11434:11434"
      volumes:
        - ollama_data:/root/.ollama
      environment:
        - OLLAMA_HOST=0.0.0.0
      restart: unless-stopped

volumes:
  qdrant_data:
  ollama_data:
  mongo-data:
  mongo-config: