services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    develop:
      watch:
        - path: .
          action: sync
          target: /src 
        - action: rebuild
          path: package*.json
        - action: sync+restart
          path: index.ts
          target: /src
    depends_on:
      - qdrant
      - ollama

  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  ollama:
      image: ollama/ollama:latest
      ports:
        - "11434:11434"
      volumes:
        - ollama_data:/root/.ollama
      environment:
        - OLLAMA_HOST=0.0.0.0
      restart: unless-stopped
volumes:
  qdrant_data:
  ollama_data: